

.none {
    visibility: hidden;
}

.scroll {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 2s;
  }

  .pb-sm {
    padding-bottom: 30px;
  }

  .my-color-primary {
    color: #33ca90;
  }

  .my-bgc-primary {
      background-color: #00bd74;
  }

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .m-center {
    margin: 0 auto;
  }

  .pt-sm {
    padding-top: 30px;
  }
  .pb-sm {
    padding-bottom: 30px;
  }
  .pb-md {
    padding-bottom: 70px;
    @media (max-width: 768px) {
			padding-bottom: 50px;
		}
    @media (max-width: 425px) {
			padding-bottom: 30px;
		}
  }

  /////
  .mt-sm {
    margin-top: 30px;
  }
  .ml-sm {
    margin-left: 30px;
  }


  .mb-sm {
    margin-bottom: 30px;
  }
  /////

  .mt-md {
    margin-top: 70px;
  }

  .text-justify {
    text-align: justify !important;
  }

  .pb-lg {
    padding-bottom: 100px;
    @media (max-width: 768px) {
			padding-bottom: 50px;
		}
    @media (max-width: 425px) {
			padding-bottom: 30px;
		}
  }
  .m-auto {
    margin: 0 auto;
  }

  .ml-auto {
    margin-left: auto;
  }
  .main-m-0 {
    margin: 0 !important;
  }

