mixin navHomeNews
    nav(aria-label="breadcrumb")
        ol.breadcrumb 
            li.breadcrumb-item
              a.breadcrumb__link(href="../../index.html")  Home 
            li.breadcrumb-item.active.breadcrumb__active(aria-current="page") News
mixin navHomeAgencies
    nav(aria-label="breadcrumb")
        ol.breadcrumb 
            li.breadcrumb-item
             a.breadcrumb__link(href="../../index.html")  Home 
            li.breadcrumb-item.active.breadcrumb__active(aria-current="page") Agencies
mixin navHomeAboutUs
    nav(aria-label="breadcrumb")
        ol.breadcrumb 
            li.breadcrumb-item
              a.breadcrumb__link(href="../../index.html")  Home 
            li.breadcrumb-item.active.breadcrumb__active(aria-current="page") About Us
mixin navHomeContactUs
    nav(aria-label="breadcrumb")
        ol.breadcrumb 
            li.breadcrumb-item
              a.breadcrumb__link(href="../../index.html")  Home 
            li.breadcrumb-item.active.breadcrumb__active(aria-current="page") Contact Us
mixin navHomeAgenciesSingleAgency
    nav(aria-label="breadcrumb")
      ol.breadcrumb 
          li.breadcrumb-item
            a.breadcrumb__link(href="../../index.html")  Home 
          li.breadcrumb-item 
            a.breadcrumb__link(href="../../agencies.html") Agencies
          li.breadcrumb-item.active.breadcrumb__active(aria-current="page") Single Agency
