mixin cardFull
	.card 	
		.card__img 
			img(src="https://afisha.nyc/wp-content/uploads/2017/09/Bez-nazvaniya.jpg", alt="")
		.card__body 
			h5.card__title Central Park, Manhattan, NY 
			.card__subtitle.my-color-primary $5,630,000
			p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
			.card__icon 
					img(src="./img/header/home/home-card-icon-1.png", alt="")
					span.card__icon--ml 2bd
					img(src="./img/header/home/home-card-icon-2.png", alt="")
					span.card__icon--ml 1ba
					span 756 sqft		
mixin cardCompressed
	.card 	
		.card__img 
			img(src="https://afisha.nyc/wp-content/uploads/2017/09/Bez-nazvaniya.jpg", alt="")
		.card__body 
			h5.card__title Central Park, Manhattan, NY 
			.card__subtitle.my-color-primary $5,630,000
			p.card__description Nullam vestibulum leo et ante facilisis, vel feugiat mauris accumsan.
mixin cardProfile 
	.card-profile 	
		.card-profile__img 
			img(src="./img/card/card-profile__logo.png", alt="")
		.card-profile__body 
			h5.card-profile__title Real Estate TX Agency
			p.card__description.text-center  Praesent elementum porttitor quam bibendum porttitor.
			.d-flex.justify-content-center 
				a.btn.btn-primary(href="../../single-agency.html") VIEW PROFILES
				