.comment
    img.comment-icon(src="img/comment/comment-quotes.png", alt="")
    p.comment-text.
        Praesent scelerisque sollicitudin eros, sollicitudin urna hendrerit.
        Sed rutrum sem odio, et egestas elit ullamcorper id. 
        In consectetur cursus leo id suscipit.
    span.commemt-name.
        Michael Hopkins