.section-heading__description
    p.section-heading__description-text.
                Aliquam fermentum erat eu nunc dignissim hendrerit. Praesent tellus, orci imperdiet id accumsan in, cursus eu mauris.            

