.dropdown 
	button
	ul.dropdown-menu(aria-labelledby="dropdownMenuButton1")
		li
			a.dropdown-item(href="#") Action
		li
			a.dropdown-item(href="#") Action
		li
			a.dropdown-item(href="#") Action
		li
			a.dropdown-item(href="#") Action
		