footer.footer
			.container 
				.footer__wrapper
					.footer-info
						h2.footer-info__title Real Estate 
						.footer-info__description
							p.footer-info__description-text.
								Nam a dui erat. Sed bibendum augue et porta 
								consequat. Morbi id mattis sem. Phasellus quis 
								magna ipsum. Donec malesuada nisi felis, vel 
								vestibulum nisl volutpat faucibus.																
						ul.footer-network 
							li  
								a.footer-network__link(href="")
									img(src="./img/header/footer/icon-facebook.png", alt="facebook") 
							li  
								a.footer-network__link(href="")
									img(src="./img/header/footer/icon-twitter.png", alt="twitter") 
							li  
								a.footer-network__link(href="")
									img(src="./img/header/footer/icon-google-plus.png", alt="google-plus") 
							li  
								a.footer-network__link(href="")
									img(src="./img/header/footer/icon-twitter.png", alt="behance") 
							li  
								a.footer-network__link(href="")
									img(src="./img/header/footer/icon-pinterest.png", alt="pinterest") 
							li  
								a.footer-network__link(href="")
									img(src="./img/header/footer/icon-instagram.png", alt="instagram") 							
					.footer-menu 
						.footer-item
							h4.footer-item__title Quick Links 
							ul.footer-list 
								li 
									a.footer-list__link(href="") Home	
								li 
									a.footer-list__link(href="") Agencias	
								li 
									a.footer-list__link(href="") Properties	
						.footer-item.footer-item--news
							h4.footer-item__title.none Quick Links 
							ul.footer-list 
								li 
									a.footer-list__link(href="") News	
								li 
									a.footer-list__link(href="") Contacts us	
						.footer-item
							h4.footer-item__title Contacts us 
							ul.footer-list 
								li 
									a.footer-list__link.footer-list__link--mail(href="mailto:hello@realestate.com") hello@realestate.com
								li
									a.footer-list__link(href="tel:+44 987 065 908")  +44 987 065 908
								li 
									a.footer-list__link(href="tel:+44 987 062 909") +44 987 062 909
			.footer-copyright 
				p © 2018 . All rights reserved.	