.home 
    .home-blurb
        .home-blurb__sale 
            span SALE 
        .home-blurb__title 
            h1.home-blurb__title-text 372 Central Park W #17N,  New York
        .home-blurb__description 
            p.home-blurb__description-text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
                torquent per conubia nostra, per inceptos himenaeos.
                
     


//- 		.home-blurb
//- 			.home-blurb__sale 
//- 				span SALE 
//- 			.home-blurb__title 
//- 				h1.home-blurb__title-text 372 Central Park W #17N,  New York
//- 			.home-blurb__description 
//- 				p.home-blurb__description-text.
//- 					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
//- 					necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
//- 					torquent per conubia nostra, per inceptos himenaeos.
//- 			.btn
//- 				a.btn.btn-success.btn--normal(href="") VIEW DETAILS			
//- .swiper-slide.home-swiper-slide
//- 	.home 
//- 		.home-blurb
//- 			.home-blurb__sale 
//- 				span SALE 
//- 			.home-blurb__title 
//- 				h1.home-blurb__title-text 372 Central Park W #17N,  New York
//- 			.home-blurb__description 
//- 				p.home-blurb__description-text.
//- 					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
//- 					necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
//- 					torquent per conubia nostra, per inceptos himenaeos.
//- 			.btn
//- 				a.btn.btn-success.btn--normal(href="") VIEW DETAILS							
//- .swiper-slide.home-swiper-slide
//- 	.home 
//- 		.home-blurb
//- 			.home-blurb__sale 
//- 				span SALE 
//- 			.home-blurb__title 
//- 				h1.home-blurb__title-text 372 Central Park W #17N,  New York
//- 			.home-blurb__description 
//- 				p.home-blurb__description-text.
//- 					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
//- 					necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
//- 					torquent per conubia nostra, per inceptos himenaeos.
//- 			.btn
//- 				a.btn.btn-success.btn--normal(href="") VIEW DETAILS		