.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #00bd74 !important;
    background-color: #f7f7f7 !important;
    border: 1px solid #00bd74 !important;
}



.link--grey{
    color: grey !important;
}

.nav-link:hover {
    color: #00bd74 !important; 
}