.main {
    &-swiper {
        height: 450px !important;
        & .swiper-button-prev {
            color: white !important;
            @media (max-width: 768px) {
                content: 'prev';
                margin-top: 173px !important;
             }
            @media (max-width: 425px) {
                content: 'prev';
                margin-top: 173px !important;
             }
        }
        & .swiper-button-next {
            color: white !important;
            @media (max-width: 768px) {
                content: 'next';
                margin-top: 173px !important;
             }
        }
        & .swiper-pagination-bullet {
            background: white !important;
        }
        &-slide {
            @media (max-width: 1024px) {
                padding-left: 0;
                padding-right: 0;
             }
        }
    }
    &-pag {
        margin-top: 40px;
    }
    
}

